
/* ui styles */
/* color */
.color-white { color: #fff; }
.color-black { color: #000; }
.color-gray-1 { color: #EDEFEE; }
.color-gray-2 { color: #333333; }
.color-primary-1 { color: #495e57; }
.color-primary-2 { color: #f4ce14; }
.color-secondary-1 { color: #ee9972; }
.color-secondary-2 { color: #fbdabb; }

/* background-color */
.background-white { background: #fff; }
.background-black { background: #000; }
.background-gray-1 { background: #EDEFEE; }
.background-gray-2 { background: #333333; }
.background-primary-1 { background: #495e57; }
.background-primary-2 { background: #f4ce14; }
.background-secondary-1 { background: #ee9972; }
.background-secondary-2 { background: #fbdabb; }

/* button */
.primary-button {
  border-radius: 1rem;
  background-color: #f4ce14;
  color: #fff;
}

/* headings / p / span */
body, p { 
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 { font-family: "Markazi Text", serif; }
h1, .heading-1 {
  font-size: 2.5rem;
}
h2, .heading-2 {
  font-size: 2rem;
}
h3, .heading-3 {
  font-size: 1.75rem;
}
h4, .heading-4 {
  font-size: 1.5rem;
}
h5, .heading-5 {
  font-size: 1.25rem;
}
h6, .heading-6 {
  font-size: 1rem;
}
a {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* nav element */
nav ul li { display: inline-block;}

@media (min-width: 40em) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
	  /* column-gap: 0.75em; */
  }

  /* 12-column grid */
  .grid-md-col-1 { grid-column: auto / span 1; }
  .grid-md-col-2 { grid-column: auto / span 2; }
  .grid-md-col-3 { grid-column: auto / span 3; }
  .grid-md-col-4 { grid-column: auto / span 4; }
  .grid-md-col-5 { grid-column: auto / span 5; }
  .grid-md-col-6 { grid-column: auto / span 6; }
  .grid-md-col-7 { grid-column: auto / span 7; }
  .grid-md-col-8 { grid-column: auto / span 8; }
  .grid-md-col-9 { grid-column: auto / span 9; }
  .grid-md-col-10 { grid-column: auto / span 10; }
  .grid-md-col-11 { grid-column: auto / span 11; }
  .grid-md-col-12 { grid-column: auto / span 12; }

  /* setting grid offset */
  [class*="grid-start-"] { grid-row-start: 1; }
  .grid-md-start-1 { grid-column-start: 1; }
  .grid-md-start-2 { grid-column-start: 2; }
  .grid-md-start-3 { grid-column-start: 3; }
  .grid-md-start-4 { grid-column-start: 4; }
  .grid-md-start-5 { grid-column-start: 5; }
  .grid-md-start-6 { grid-column-start: 6; }
  .grid-md-start-7 { grid-column-start: 7; }
  .grid-md-start-8 { grid-column-start: 8; }
  .grid-md-start-9 { grid-column-start: 9; }
  .grid-md-start-10 { grid-column-start: 10; }
  .grid-md-start-11 { grid-column-start: 11; }

  /* column gap */
  .row--md-gap { column-gap: 0.85em; }
  .row-md-no-gap { column-gap: 0; }

  /* auto column setup */
  .row-auto { grid-template-columns: repeat(auto-fit, minmax(min(100%, 5em), 1fr)); }
}

@media (min-width: 64em) {
  /* 12-column grid */
  .grid-lg-col-1 { grid-column: auto / span 1; }
  .grid-lg-col-2 { grid-column: auto / span 2; }
  .grid-lg-col-3 { grid-column: auto / span 3; }
  .grid-lg-col-4 { grid-column: auto / span 4; }
  .grid-lg-col-5 { grid-column: auto / span 5; }
  .grid-lg-col-6 { grid-column: auto / span 6; }
  .grid-lg-col-7 { grid-column: auto / span 7; }
  .grid-lg-col-8 { grid-column: auto / span 8; }
  .grid-lg-col-9 { grid-column: auto / span 9; }
  .grid-lg-col-10 { grid-column: auto / span 10; }
  .grid-lg-col-11 { grid-column: auto / span 11; }
  .grid-lg-col-12 { grid-column: auto / span 12; }

  /* setting grid offset */
  [class*="grid--lg-start-"] { grid-row-start: 1; }
  .grid-lg-start-1 { grid-column-start: 1; }
  .grid-lg-start-2 { grid-column-start: 2; }
  .grid-lg-start-3 { grid-column-start: 3; }
  .grid-lg-start-4 { grid-column-start: 4; }
  .grid-lg-start-5 { grid-column-start: 5; }
  .grid-lg-start-6 { grid-column-start: 6; }
  .grid-lg-start-7 { grid-column-start: 7; }
  .grid-lg-start-8 { grid-column-start: 8; }
  .grid-lg-start-9 { grid-column-start: 9; }
  .grid-lg-start-10 { grid-column-start: 10; }
  .grid-lg-start-11 { grid-column-start: 11; }

  /* column gap */
  .row--lg-gap { column-gap: 1.1875em; }
  .row-lg-no-gap { column-gap: 0; }
}
